<div class="homepage">
  <div class="text-center logo">
    <span class="logo-content">
      <img class="svg-image" src="/assets/images/seahorse.svg" alt="image">
      <div class="title-seahorse"> SEAHORSE</div>
    </span>
  </div>
  <br>
  <div class="row container col-sm-12">
    <div class="col-sm-4">
      <div class="row buttonRow">
        <div class="col-sm-12 text-end">
          <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button mat-raised-button class="homeScreenButtons" color="primary">
              GTEX
            </button>
          </a>
        </div>
      </div>
      <div class="row buttonRow">
        <div class="col-sm-12 text-end">
          <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button mat-raised-button class="homeScreenButtons" color="primary">
              TCGA
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan venenatis urna, in sagittis
        tellus ultrices vitae. Aliquam lobortis a turpis id mollis. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Nam finibus lacinia nisi, id rhoncus elit dignissim nec. Vestibulum vel
        mi ut risus ullamcorper tristique. Donec egestas, ex nec semper consequat, metus lorem blandit odio, eget
        iaculis nunc velit sed nulla. Quisque non euismod urna.
      </p>
      <p>
        Vivamus pulvinar nisi a sem placerat congue. Nulla lectus libero, finibus quis commodo in, mattis non risus.
        Etiam facilisis, nibh rutrum vestibulum congue, turpis nisl sagittis mauris, vel pretium sem nulla vitae lectus.
        Nam porttitor tincidunt odio ac gravida. Etiam egestas odio ut quam ultricies cursus. Fusce sodales et ligula
        non tincidunt.
      </p>
      <p>
        Morbi malesuada imperdiet nunc imperdiet porta. Fusce consectetur, eros et congue tincidunt, neque diam maximus
        mi, eu pulvinar tellus nulla convallis ante. Mauris eu sollicitudin mauris, sit amet eleifend augue. Nullam sed
        consectetur risus, sed vehicula ipsum. Integer quis suscipit dolor. Aliquam nec aliquam sapien, sit amet
        consequat metus. Nam in venenatis tellus, sed aliquet turpis.
      </p>
      <p>
        Sed euismod erat accumsan dolor tincidunt, vehicula tempor orci tristique. Vestibulum elit lorem,
        lacinia at erat ut, auctor tincidunt felis. Aliquam eget blandit diam. Nam tellus augue, euismod non orci sed,
        placerat tincidunt purus.
      </p>
    </div>
  </div>
</div>