<div class="container-fluid">
    <h1 class="text-center title">Sea Horse</h1>
  
    <div class="row">
      <div class="col-md-4">
        <a routerLink="/MetaDataCrossComparison" routerLinkActive="active" ariaCurrentWhenActive="page">
          <button mat-raised-button class="homeScreenButtons" color="primary">
            Metadata Cross Comparison
          </button>
        </a>
  
      </div>
      <div class="col-md-4">
        <button mat-raised-button class="homeScreenButtons" color="primary">
          Metadata to Gene Expression Comparison
        </button>
      </div>
      <div class="col-md-4">
        <button mat-raised-button class="homeScreenButtons" color="primary">
          Gene Expression Comparison
        </button>
      </div>
    </div>
  </div>

  