<div class="homepage">
  <div class="text-center logo">
    <span class="logo-content">
      <img class="svg-image" src="/assets/images/seahorse.svg" alt="image">
      <div class="title-seahorse"> SEAHORSE</div>
    </span>
  </div>
  <br>
  <div class="row container col-sm-12">
    <div class="col-sm-4">
      <div class="row buttonRow">
        <div class="col-sm-12 text-end">
          <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button mat-raised-button class="homeScreenButtons" color="primary">
              GTEX
            </button>
          </a>
        </div>
      </div>
      <div class="row buttonRow">
        <div class="col-sm-12 text-end">
          <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button mat-raised-button class="homeScreenButtons" color="primary">
              TCGA
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <br>
      <p>
        Nearly all scientific inquiry is based on the paradigm of hypothesis testing in which the association between
        pre-identified experimental factors and final states of a system are explored. However, this approach is limited
        by the state of our current understanding of the systems we wish to study.
      </p>
      <p>
        SEAHORSE (Serendipity Engine Assaying Heterogeneous Omics Sampling Experiments) was created to allow users to
        develop new hypotheses from large population-based multi-omic datasets. Using both phenotypic and genomic
        variables in both the Genotype-Tissue Experiment (GTEx) and The Cancer Genome Atlas (TCGA) we pre-computed all
        pairwise associations between phenotypic variables, between genomic variables in each tissue, and between
        phenotypic and expression in each tissue.
      </p>
      <p>
        SEAHORSE provides not only the opportunity for users to search for new and unexpected hypotheses that can be
        tested in future experiments or other studies, but also creates opportunities for findings from other studies to
        be confirmed in GTEx and TCGA.
      </p>
    </div>
  </div>
</div>