<div *ngIf="data.plotType ==='scatterplot'" mat-dialog-content>
    <img *ngIf="data.imageUrl; else getNewScatterplot" [src]="data.imageUrl" alt="image"
        style="max-width: 100%; max-height: 100%;">
    <ng-template #getNewScatterplot>
        <app-scatterplot [metadataId]="data.metadataId" [metadata2Id]='data.metadata2Id'
            [metadataLookUp]="data.metadataLookUp" [typeOfLookUp]="data.comparisonType" [tissue]="data.tissue">
        </app-scatterplot>
    </ng-template>
</div>
<div *ngIf="data.plotType ==='boxplot'" mat-dialog-content>
    <app-boxplot [metadataCatId]="data.metadata2Id" [metadataNumId]="data.metadataId"
        [metadataLookUp]="data.metadataLookUp" [typeOfLookUp]="data.comparisonType" [size]="data.size"
        [tissue]="data.tissue">
    </app-boxplot>
</div>
<div *ngIf="data.plotType ==='heatmap'" mat-dialog-content>
    <app-heatmap2 [metadataId]="data.metadataId" [metadata2Id]='data.metadata2Id' [metadataLookUp]="data.metadataLookUp"
        [typeOfLookUp]="data.comparisonType" [size]="data.size" [tissue]="data.tissue"></app-heatmap2>
</div>
<div #svgContainer></div>