<div class="row">
    <div class="col-md-2 sideBar">
        <!-- <div class="row">
            <img class="seahorseImage" src='./../../assets/images/sea-horse.png' >
        </div> -->
        <div class="row">
            <div class="title">Sea Horse</div>
        </div>
        <hr>
        <div class="container sideBarContainer">
            <ul>
                <div class="pageTitle">Metadata:</div>
                <li *ngFor="let cat of metadataArr">
                    <a class="page">{{cat}}</a>
                </li>
            </ul>
        </div>
        

    </div>

    <div class="col-md-10 content">
        <div class="row">
            <app-histogram></app-histogram>
        </div>
        <div class="row">
            <app-barchart></app-barchart>
        </div>
        <div class="row">
            <app-heatmap2></app-heatmap2>
        </div>
        <div class="row">
            <app-boxplot></app-boxplot>
        </div>
        <div class="row">
            <app-scatterplot></app-scatterplot>
        </div>
        

    </div>
</div>