<app-progress-spinner *ngIf="isLoading"></app-progress-spinner>

<div class="row">
    <div class="col-md-3 sideBar">
        <div class="row">
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="titleLink">
                <div class="title">SEAHORSE</div>
            </a>
        </div>
        <hr>
        <div class="container sideBarContainer">
            <ul>
                <div class="pageTitle">Metadata:</div>
                <div *ngFor="let cat of metadataArr">
                    <li *ngIf="!notIncludeList.includes(cat.varname)">
                        <a class="page" (click)="changeMetadata(cat.varname)">{{cat.vardesc[0]}}</a>
                    </li>
                </div>

            </ul>
        </div>
    </div>

    <div class="col-md-9 content">
        <div class="row pageDescription" *ngIf="metadataLookUp[metadataId]">
            <span class="metaId">{{metadataId}}: <span class="metaDescription" >({{metadataLookUp[metadataId]['vardesc']}})</span></span>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="metaId">{{metadataLookUp[metadataId]['vardesc']}}:<div class="metaDescription"> ({{metadataId}})</div>
                </div>
                </div>
                
            </div> -->
            <div class="metaComment" *ngIf="metadataLookUp[metadataId]['comment']">
                {{metadataLookUp[metadataId]['comment']}}</div>
        </div>

        <div class="d-flex justify-content-center">
            <div *ngIf="plotTypeLookUp[metadataId] === 'integer' || plotTypeLookUp[metadataId] === 'decimal'"
                class="row">
                <app-histogram [metadataId]="metadataId"></app-histogram>
            </div>
            <div *ngIf="plotTypeLookUp[metadataId] === 'integer, encoded value' || plotTypeLookUp[metadataId] === 'string'"
                class="row">
                <app-barchart [metadataId]="metadataId"></app-barchart>
            </div>


        </div>


        <div class="d-flex justify-content-center">
            <div id="my_plotArea">
                <div *ngIf="displayScatterPlot">
                    <app-scatterplot [metadataId]="metadataId" [metadata2Id]="metadata2Id"></app-scatterplot>
                </div>
                <div *ngIf="displayBoxPlot">
                    <app-boxplot [metadataCatId]="metadata2Id" [metadataNumId]="metadataId"></app-boxplot>
                </div>
                <div *ngIf="displayHeatmap">
                    <app-heatmap2 [metadataId]="metadataId" [metadata2Id]="metadata2Id"></app-heatmap2>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length > 0">
                <ng-container matColumnDef="metadata2">
                    <th mat-header-cell *matHeaderCellDef> Metadata 2 </th>
                    <td class="metaColumn" mat-cell *matCellDef="let element"
                        (click)="onSelectMetadata2(element.metadata2)"> {{element.metadata2}}</td>
                </ng-container>
                <ng-container matColumnDef="test">
                    <th mat-header-cell *matHeaderCellDef> Test </th>
                    <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                </ng-container>
                <ng-container matColumnDef="test_statistic">
                    <th mat-header-cell *matHeaderCellDef> Test Statistic </th>
                    <td mat-cell *matCellDef="let element"> {{element.test_statistic}} </td>
                </ng-container>
                <ng-container matColumnDef="pValue">
                    <th mat-header-cell *matHeaderCellDef> P-Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.pValue}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>




    </div>
</div>