.dialogContainer {
    width: 33vw;
    min-width: 450px;
    max-height: 80vh;
}

.headerSpan {
    display: flex;
    background-color: #f2b438;
    margin: -35px -30px 0 -30px;
}

.dialogTitle {
    justify-content: flex-start;
    width: 85%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px 0 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.dialogContent {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 1em;
}

.closeDialogButton {
    justify-content: flex-end;
    margin: 15px 10px 0 0;
    color: white;
    padding: 10px;
}

.closeDialogButton:hover {
    opacity: 0.75;
}

.submitBtnContainer {
    display: flex;
    justify-content: flex-end;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // width: 80vw;
    // height: 300px;
}

li::marker {
    color: #dfcfab !important;
}

li {
    margin: 5px 10px;
}

.pageList {
    line-height: 1.2;
}
.page{
    color: rgba(0, 0, 0, 0.7) !important;
}
