<app-progress-spinner *ngIf="isLoading"></app-progress-spinner>
<div class="row flexContainer">
    <div class="col-md-3 sideBar">
        <div class="row">
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="titleLink">
                <div class="text-center logo">
                    <img width="150px" src="/assets/images/seahorse_logo3.png" alt="image">
                </div>
            </a>
        </div>
        <hr>
        <app-autocomplete-input [autoFillData]="autoFillData" (onSearch)="onSearch($event)">
        </app-autocomplete-input>
        <hr>
        <div class="container sideBarContainer">
            <ul>
                <div class="pageTitle" (click)="showPhenoList = !showPhenoList">
                    <span class="expandObj">{{showPhenoList ? "-":"+"}}</span> Phenotype
                </div>
                <div *ngIf="showPhenoList">
                    <div *ngFor="let cat of phenotypeArr">
                        <li>
                            <a class="page" (click)="changeMetadata(cat.varname)">{{cat.vardesc[0]}}</a>
                        </li>
                    </div>
                </div>
            </ul>
            <ul>
                <div class="pageTitle" (click)="showLibraryList = !showLibraryList">
                    <span class="expandObj">{{showLibraryList ? "-":"+"}}</span> Library Metadata:
                </div>
                <div *ngIf="showLibraryList">
                    <div *ngFor="let cat of libraryMetadataArr">
                        <li>
                            <a class="page" (click)="changeMetadata(cat.varname)">{{cat.vardesc[0]}}</a>
                        </li>
                    </div>
                </div>

            </ul>
        </div>
    </div>

    <div class="col-md-9 content" *ngIf="metadataId">
        <br>
        <br>
        <h1 class="title" *ngIf="layoutType === 'metadata'">
            {{metadataListReady ? this.metadataLookUp[this.metadataId]['vardescFull'] : ""}}
            <!-- ({{metadataListReady ? this.metadataLookUp[this.metadataId]['varname'] : ""}}) -->
        </h1>
        <h1 class="title" *ngIf="layoutType === 'gene'">{{geneToSym[this.metadataId]}}</h1>
        <br>
        <mat-form-field appearance="outline" class="d-flex container dropDown">
            <mat-label>Tissue</mat-label>
            <mat-select [(value)]="tissue" (selectionChange)="onTissueChange($event.value)">
                <mat-option [value]="option.name" *ngFor="let option of tissueList">{{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <div *ngIf="this.metadataLookUp[this.metadataId] !== undefined" class="row justify-content-center">
            <div *ngIf="checkPlotType(metadataId) === 'categoric'" class="testBackgroundSummaryPlot">
                <app-barchart [metadataId]="metadataId" [meta]="metadataLookUp[metadataId]['meta']"></app-barchart>
            </div>
            <div *ngIf="checkPlotType(metadataId) === 'numeric'" class="testBackgroundSummaryPlot">
                <app-histogram [metadataId]="metadataId"
                    [comparisonType]="this.metadataId.startsWith('ENSG') ? 'g2m' : 'm2m'"
                    [meta]="metadataLookUp[metadataId]['meta']"></app-histogram>
            </div>
        </div>
        <div *ngIf="metadataId.startsWith('ENSG')" class="row justify-content-center">
            <div class="testBackgroundSummaryPlot">
                <app-histogram [metadataId]="metadataId" [comparisonType]="'g2m'" [meta]="''"></app-histogram>
            </div>
        </div>
        <h4 (click)="expandSection('phenotype')" #myPhenotype>
            <span class="expandObj">{{showPhenotype ? "-":"+"}}</span> Phenotype
        </h4>
        <div *ngIf="layoutType === 'metadata'">
            <p *ngIf="this.dataSourceM2M.length === 0 && showPhenotype" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showPhenotype && m2mTableReady && !isLoading && dataSourceM2M.length > 0">
                <!-- <div>M2M</div> -->
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceM2M.length > 0">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div *ngIf="checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'numeric'"
                            class="plotPreview">
                            <app-scatterplot [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceM2M[i]["category_b"]' [metadataLookUp]="metadataLookUp"
                                [typeOfLookUp]="typeOfLookUp"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                        <div *ngIf="checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'categoric'"
                            class="plotPreview">
                            <app-heatmap2 [metadataId]="metadataId" [metadata2Id]='this.dataSourceM2M[i]["category_b"]'
                                [metadataLookUp]="metadataLookUp"
                                (svg2Loaded)="onSelectImage($event, 'heatmap', metadataId, dataSourceM2M[i]['category_b'], 'm2m')">
                            </app-heatmap2>
                        </div>
                        <div *ngIf="(checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'categoric')"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="dataSourceM2M[i]['category_b']" [metadataNumId]="metadataId"
                                [metadataLookUp]="metadataLookUp"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2M[i]['category_b'], 'm2m')">
                            </app-boxplot>
                        </div>
                        <div *ngIf="(checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'numeric')"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="metadataId" [metadataNumId]="dataSourceM2M[i]['category_b']"
                                [metadataLookUp]="metadataLookUp"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2M[i]['category_b'], 'm2m')">
                            </app-boxplot>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div *ngIf="checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'numeric'"
                            class="plotPreview">
                            <app-scatterplot [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceM2M[i]["category_b"]' [metadataLookUp]="metadataLookUp"
                                [typeOfLookUp]="typeOfLookUp"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                        <div *ngIf="checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'categoric'"
                            class="plotPreview">
                            <app-heatmap2 [metadataId]="metadataId" [metadata2Id]='this.dataSourceM2M[i]["category_b"]'
                                [metadataLookUp]="metadataLookUp"
                                (svg2Loaded)="onSelectImage($event, 'heatmap', metadataId, dataSourceM2M[i]['category_b'], 'm2m')">
                            </app-heatmap2>
                        </div>
                        <div *ngIf="(checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'categoric')"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="dataSourceM2M[i]['category_b']" [metadataNumId]="metadataId"
                                [metadataLookUp]="metadataLookUp"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2M[i]['category_b'], 'm2m')">
                            </app-boxplot>
                        </div>
                        <div *ngIf="(checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'numeric')"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="metadataId" [metadataNumId]="dataSourceM2M[i]['category_b']"
                                [metadataLookUp]="metadataLookUp"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2M[i]['category_b'], 'm2m')">
                            </app-boxplot>
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <table mat-table [dataSource]='dataSourceM2M' class="mat-elevation-z8">
                        <ng-container matColumnDef="category_b">
                            <th mat-header-cell *matHeaderCellDef> Metadata 2 </th>
                            <td class="metaColumn" mat-cell *matCellDef="let element"
                                (click)="onSelectMetadataLink(metadataId, element.category_b, 'm2m')">
                                {{element.category_b}} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Description </th>
                            <td mat-cell *matCellDef="let element"> {{metadataListReady ?
                                metadataLookUp[element.category_b]["vardescFull"]: ""}} </td>
                        </ng-container>
                        <ng-container matColumnDef="test">
                            <th mat-header-cell *matHeaderCellDef> Test </th>
                            <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                        </ng-container>
                        <ng-container matColumnDef="test_statistics">
                            <th mat-header-cell *matHeaderCellDef> Test Statistic </th>
                            <td mat-cell *matCellDef="let element"> {{element.test_statistics.toFixed(3)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pvalue">
                            <th mat-header-cell *matHeaderCellDef> P-Value </th>
                            <td mat-cell *matCellDef="let element"> {{element.pvalue.toFixed(3)}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsM2M"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsM2M"></tr>
                    </table>
                </div>
                <div class="d-flex justify-content-center paginator" *ngIf="tableSizeM2M > 0">
                    <mat-paginator [length]="tableSizeM2M" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
                        [pageIndex]="currPage" aria-label="Select page" (page)="getPageDetails($event, 'm2m')">
                    </mat-paginator>
                </div>

            </div>
        </div>
        <div *ngIf="layoutType === 'gene'">
            <p *ngIf="this.dataSourceG2M.length === 0 && showPhenotype" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showPhenotype && g2mTableReady && !isLoading && dataSourceG2M.length > 0">
                <!-- <div>g2m</div> -->
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceG2M.length > 0">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div *ngIf="checkPlotType(dataSourceG2M[i]['category_b']) === 'numeric'" class="plotPreview">
                            <app-scatterplot [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceG2M[i]["category_b"]' [metadataLookUp]="metadataLookUp"
                                [typeOfLookUp]="'m2g'"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                        <div *ngIf="checkPlotType(dataSourceG2M[i]['category_b']) === 'categoric'" class="plotPreview">
                            <app-boxplot [metadataCatId]="metadataId" [metadataNumId]="dataSourceG2M[i]['category_b']"
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceG2M[i]['category_b'], 'm2g')">
                            </app-boxplot>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" *ngIf="metadataLookUp">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div *ngIf="dataSourceG2M[i] && checkPlotType(dataSourceG2M[i]['category_b']) === 'numeric'"
                            class="plotPreview">
                            <app-scatterplot [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceG2M[i]["category_b"]' [metadataLookUp]="metadataLookUp"
                                [typeOfLookUp]="'m2g'"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                        <div *ngIf="dataSourceG2M[i] && checkPlotType(dataSourceG2M[i]['category_b']) === 'categoric'"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="metadataId" [metadataNumId]="dataSourceG2M[i]['category_b']"
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceG2M[i]['category_b'], 'm2g')">
                            </app-boxplot>
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <table mat-table [dataSource]='dataSourceG2M' class="mat-elevation-z8">
                        <ng-container matColumnDef="category_b">
                            <th mat-header-cell *matHeaderCellDef> Metadata </th>
                            <td class="metaColumn" mat-cell *matCellDef="let element"
                                (click)="onSelectMetadataLink(metadataId, element.category_b, 'm2g')">
                                {{element.category_b}} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Description </th>
                            <td mat-cell *matCellDef="let element">{{metadataLookUp[element.category_b]["vardescFull"]
                                !== undefined ? metadataLookUp[element.category_b]["vardescFull"]: ""}}Test test</td>
                        </ng-container>
                        <ng-container matColumnDef="test">
                            <th mat-header-cell *matHeaderCellDef> Test </th>
                            <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                        </ng-container>
                        <ng-container matColumnDef="test_statistics">
                            <th mat-header-cell *matHeaderCellDef> Test Statistic</th>
                            <td mat-cell *matCellDef="let element"> {{element.test_statistics.toFixed(3)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pvalue">
                            <th mat-header-cell *matHeaderCellDef> P-Value</th>
                            <td mat-cell *matCellDef="let element"> {{element.pvalue.toFixed(3)}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsG2M"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsG2M"></tr>
                    </table>
                </div>
                <div class="d-flex justify-content-center paginator" *ngIf="tableSizeG2M > 0">
                    <mat-paginator [length]="tableSizeG2M" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
                        [pageIndex]="currPage" aria-label="Select page" (page)="getPageDetails($event, 'g2m')">
                    </mat-paginator>
                </div>
            </div>
        </div>
        <br>
        <h4 (click)="expandSection('library')" #myLibrary>
            <span class="expandObj">{{showLibraryMetadata ? "-":"+"}}</span> Library Metadata
        </h4>
        <br>
        <div *ngIf="layoutType === 'metadata'">
            <p *ngIf="this.dataSourceM2MLibrary.length === 0 && showLibraryMetadata" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showLibraryMetadata && m2mLibraryTableReady && !isLoading && dataSourceM2MLibrary.length > 0">
                <!-- <div>library m2m</div> -->
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceM2MLibrary.length > 0">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div *ngIf="checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'numeric'"
                            class="plotPreview">
                            <app-scatterplot [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceM2MLibrary[i]["category_b"]'
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="typeOfLookUp"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                        <div *ngIf="checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'categoric'"
                            class="plotPreview">
                            <app-heatmap2 [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceM2MLibrary[i]["category_b"]'
                                [metadataLookUp]="metadataLookUp"
                                (svg2Loaded)="onSelectImage($event, 'heatmap', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m')">
                            </app-heatmap2>
                        </div>
                        <div *ngIf="(checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'categoric')"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="dataSourceM2MLibrary[i]['category_b']"
                                [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m')">
                            </app-boxplot>
                        </div>
                        <div *ngIf="(checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'numeric')"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="metadataId"
                                [metadataNumId]="dataSourceM2MLibrary[i]['category_b']"
                                [metadataLookUp]="metadataLookUp"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m')">
                            </app-boxplot>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div *ngIf="checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'numeric'"
                            class="plotPreview">
                            <app-scatterplot [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceM2MLibrary[i]["category_b"]'
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="typeOfLookUp"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                        <div *ngIf="checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'categoric'"
                            class="plotPreview">
                            <app-heatmap2 [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceM2MLibrary[i]["category_b"]'
                                [metadataLookUp]="metadataLookUp"
                                (svg2Loaded)="onSelectImage($event, 'heatmap', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m')">
                            </app-heatmap2>
                        </div>
                        <div *ngIf="(checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'categoric')"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="dataSourceM2MLibrary[i]['category_b']"
                                [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m')">
                            </app-boxplot>
                        </div>
                        <div *ngIf="(checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'numeric')"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="metadataId"
                                [metadataNumId]="dataSourceM2MLibrary[i]['category_b']"
                                [metadataLookUp]="metadataLookUp"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m')">
                            </app-boxplot>
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <table mat-table [dataSource]='dataSourceM2MLibrary' class="mat-elevation-z8">
                        <ng-container matColumnDef="category_b">
                            <th mat-header-cell *matHeaderCellDef> Metadata 2 </th>
                            <td class="metaColumn" mat-cell *matCellDef="let element"
                                (click)="onSelectMetadataLink(metadataId, element.category_b, 'm2m')">
                                {{element.category_b}} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Description </th>
                            <td mat-cell *matCellDef="let element">
                                {{metadataLookUp[element.category_b]["vardescFull"]}} </td>
                        </ng-container>
                        <ng-container matColumnDef="test">
                            <th mat-header-cell *matHeaderCellDef> Test </th>
                            <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                        </ng-container>
                        <ng-container matColumnDef="test_statistics">
                            <th mat-header-cell *matHeaderCellDef> Test Statistic</th>
                            <td mat-cell *matCellDef="let element"> {{element.test_statistics.toFixed(3)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pvalue">
                            <th mat-header-cell *matHeaderCellDef> P-Value</th>
                            <td mat-cell *matCellDef="let element"> {{element.pvalue.toFixed(3)}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsM2M"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsM2M"></tr>
                    </table>
                </div>
                <div class="d-flex justify-content-center paginator" *ngIf="tableSizeM2MLibrary > 0">
                    <mat-paginator [length]="tableSizeM2MLibrary" [pageSize]="limit"
                        [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="currPage" aria-label="Select page"
                        (page)="getPageDetails($event, 'm2mlib')">
                    </mat-paginator>
                </div>

            </div>

        </div>

        <div *ngIf="layoutType === 'gene'">
            <p *ngIf="this.dataSourceG2MLibrary.length === 0 && showLibraryMetadata" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showLibraryMetadata && g2mLibraryTableReady && !isLoading && dataSourceG2MLibrary.length > 0">
                <!-- <div>library g2m</div> -->
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceG2MLibrary.length > 0">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div *ngIf="checkPlotType(dataSourceG2MLibrary[i]['category_b']) === 'numeric'"
                            class="plotPreview">
                            <app-scatterplot [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceG2MLibrary[i]["category_b"]'
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                        <div *ngIf="checkPlotType(dataSourceG2MLibrary[i]['category_b']) === 'categoric'"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="dataSourceG2MLibrary[i]['category_b']"
                                [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceG2MLibrary[i]['category_b'], 'm2g')">
                            </app-boxplot>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div *ngIf="checkPlotType(dataSourceG2MLibrary[i]['category_b']) === 'numeric'"
                            class="plotPreview">
                            <app-scatterplot [metadataId]="metadataId"
                                [metadata2Id]='this.dataSourceG2MLibrary[i]["category_b"]'
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                        <div *ngIf="checkPlotType(dataSourceG2MLibrary[i]['category_b']) === 'categoric'"
                            class="plotPreview">
                            <app-boxplot [metadataCatId]="dataSourceG2MLibrary[i]['category_b']"
                                [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceG2MLibrary[i]['category_b'], 'm2g')">
                            </app-boxplot>
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <table mat-table [dataSource]='dataSourceG2MLibrary' class="mat-elevation-z8">
                        <ng-container matColumnDef="category_b">
                            <th mat-header-cell *matHeaderCellDef> Metadata 2 </th>
                            <td class="metaColumn" mat-cell *matCellDef="let element"
                                (click)="onSelectMetadataLink(metadataId, element.category_b, 'm2g')">
                                {{element.category_b}} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Description </th>
                            <td mat-cell *matCellDef="let element">
                                {{metadataLookUp[element.category_b]["vardescFull"]}} </td>
                        </ng-container>
                        <ng-container matColumnDef="test">
                            <th mat-header-cell *matHeaderCellDef> Test </th>
                            <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                        </ng-container>
                        <ng-container matColumnDef="test_statistics">
                            <th mat-header-cell *matHeaderCellDef> Test Statistic</th>
                            <td mat-cell *matCellDef="let element"> {{element.test_statistics.toFixed(3)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pvalue">
                            <th mat-header-cell *matHeaderCellDef> P-Value</th>
                            <td mat-cell *matCellDef="let element"> {{element.pvalue.toFixed(3)}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsG2M"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsG2M"></tr>
                    </table>
                </div>
                <div class="d-flex justify-content-center paginator" *ngIf="tableSizeG2MLibrary > 0">
                    <mat-paginator [length]="tableSizeG2MLibrary" [pageSize]="limit"
                        [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="currPage" aria-label="Select page"
                        (page)="getPageDetails($event, 'g2mlib')">
                    </mat-paginator>
                </div>
            </div>
        </div>
        <h4 (click)="expandSection('gene')" #myGene>
            <span class="expandObj">{{showGene ? "-":"+"}}</span> Gene
        </h4>
        <br>
        <div *ngIf="layoutType === 'metadata'">
            <p *ngIf="this.dataSourceM2G.length === 0 && showGene" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showGene && m2gTableReady && !isLoading && dataSourceM2G.length > 0">
                <div *ngIf="showGene">
                    <!-- <div>M2G</div> -->
                    <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceM2G.length > 0">
                        <div class="testBackground" *ngFor="let i of [0,1,2]">
                            <div *ngIf="checkPlotType(metadataId) === 'numeric'" class="plotPreview">
                                <app-scatterplot [metadata2Id]="metadataId" [metadataId]='this.dataSourceM2G[i]["gene"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="checkPlotType(metadataId) === 'categoric'" class="plotPreview">
                                <app-boxplot [metadataNumId]="dataSourceM2G[i]['gene']" [metadataCatId]="metadataId"
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2G[i]['gene'], 'm2g')">
                                </app-boxplot>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="metadataLookUp">
                        <div class="testBackground" *ngFor="let i of [3,4,5]">
                            <div *ngIf="checkPlotType(metadataId) === 'numeric'" class="plotPreview">
                                <!-- <div>scatter</div> -->
                                <app-scatterplot [metadata2Id]="metadataId" [metadataId]='this.dataSourceM2G[i]["gene"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="checkPlotType(metadataId) === 'categoric'" class="plotPreview">
                                <app-boxplot [metadataNumId]="dataSourceM2G[i]['gene']" [metadataCatId]="metadataId"
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2G[i]['gene'], 'm2g')">
                                </app-boxplot>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="this.dataSourceM2G.length === 0 && this.searchValue !== '' && this.selectedTissue !== ''"
                        class="hideMessage text-center">
                        There is no data to be displayed.</p>
                    <br>
                    <br>
                    <div class="d-flex justify-content-center">
                        <table mat-table [dataSource]="dataSourceM2G" class="mat-elevation-z8"
                            *ngIf="dataSourceM2G.length > 0">
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td class="metaColumn" mat-cell *matCellDef="let element"
                                    (click)="onSelectMetadataLink(metadataId, element.gene, 'm2g')">
                                    {{geneToSym[element.gene] !== undefined ?
                                    geneToSym[element.gene] : element.gene}} </td>
                            </ng-container>
                            <ng-container matColumnDef="test">
                                <th mat-header-cell *matHeaderCellDef> Test </th>
                                <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                            </ng-container>
                            <ng-container matColumnDef="test_statistics">
                                <th mat-header-cell *matHeaderCellDef> Test Statistics </th>
                                <td mat-cell *matCellDef="let element"> {{element.test_statistics.toFixed(3)}} </td>
                            </ng-container>
                            <ng-container matColumnDef="pvalue">
                                <th mat-header-cell *matHeaderCellDef> P-Value </th>
                                <td mat-cell *matCellDef="let element"> {{element.pvalue.toFixed(3)}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="entrezid">
                                <th mat-header-cell *matHeaderCellDef> Link </th>
                                <td mat-cell *matCellDef="let element"> <a target="_blank"
                                        href="{{'https://www.ncbi.nlm.nih.gov/gene/' + element.entrezid}}">NIH Link</a>
                                </td>
                            </ng-container> -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsM2G"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsM2G"></tr>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center paginator" *ngIf="tableSizeM2G > 0">
                        <mat-paginator [length]="tableSizeM2G" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
                            [pageIndex]="currPage" aria-label="Select page" (page)="getPageDetails($event, 'm2g')">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="layoutType === 'gene'">
            <div *ngIf="showGene">
                <!-- <div>g2g</div> -->
                <!-- <mat-form-field appearance="outline" class="d-flex container dropDown">
                    <mat-label>Tissue</mat-label>
                    <mat-select [(value)]="tissue" (selectionChange)="onTissueChange($event.value)">
                        <mat-option [value]="option.name" *ngFor="let option of tissueList">{{ option.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
                <!-- <div class="row">
                    <div class="searchTitle col-md-12 d-flex justify-content-center">{{symbolId}} </div>
                </div> -->

                <div class=" row justify-content-center">
                    <div *ngIf="checkPlotType(metadataId) === 'categoric'" class="testBackgroundSummaryPlot">
                        <app-barchart [metadataId]="metadataId"></app-barchart>
                    </div>
                    <div class="testBackgroundSummaryPlot">
                        <app-histogram [metadataId]="metadataId" [comparisonType]="'g2g'"></app-histogram>
                    </div>
                </div>
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceG2G.length > 0">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div>
                            <app-scatterplot [metadataId]="metadataId" [metadata2Id]='this.dataSourceG2G[i]["gene"]'
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'g2g'"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceG2G.length > 0">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div>
                            <app-scatterplot [metadataId]="metadataId" [metadata2Id]='this.dataSourceG2G[i]["gene"]'
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'g2g'"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                    </div>
                </div>
                <p *ngIf="this.dataSourceG2G.length === 0 && this.searchValue !== '' && this.selectedTissue !== ''"
                    class="hideMessage text-center">
                    There is no data to be displayed.</p>
                <br>
                <br>
                <div class="d-flex justify-content-center">
                    <table mat-table [dataSource]="dataSourceG2G" class="mat-elevation-z8"
                        *ngIf="dataSourceG2G.length > 0">
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef> Symbol </th>
                            <td class="metaColumn" mat-cell *matCellDef="let element"
                                (click)="onSelectMetadataLink(metadataId, element.gene, 'g2g')">
                                {{element.symbol}} </td>
                        </ng-container>
                        <ng-container matColumnDef="correlation">
                            <th mat-header-cell *matHeaderCellDef> Correlation </th>
                            <td mat-cell *matCellDef="let element"> {{element.correlation.toFixed(3)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="entrezid">
                            <th mat-header-cell *matHeaderCellDef> Link </th>
                            <td mat-cell *matCellDef="let element"> <a target="_blank"
                                    href="{{'https://www.ncbi.nlm.nih.gov/gene/' + element.entrezid}}">NIH Link</a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsG2G"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsG2G"></tr>
                    </table>
                </div>
                <div class="d-flex justify-content-center paginator" *ngIf="tableSizeG2G > 0">
                    <mat-paginator [length]="tableSizeG2G" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
                        [pageIndex]="currPage" aria-label="Select page" (page)="getPageDetails($event, 'g2g')">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>