.sideBar {
    background-color: #f8f6f2;
    min-height: 100vh;
    flex: 1;
}

.page {
    color: #716d66;
    text-decoration: none;
    font-size: 12px;
    text-transform: capitalize;
}
.page:hover {
    color: grey;
    cursor: pointer;
}

ul li::marker {
    color: #dad3c3;
}

ul li {
    margin: 10px 25px;
}

.pageTitle {
    margin-top: 10px;
    color: rgba(40, 40, 40, 0.8);
    font-size: 14px;
    font-weight: 500;
}
.isActive {
    transition: color 0.2s ease, background-color 0.2s ease;
    background-color: #4fc9da;
    color: #ffffff;
    padding: 0.775rem;
    border-radius: 0.95rem;
    width: 100% !important;
}

.sideBarContainer {
    width: 100%;
}

// .title {
//     font-size: 36px;
//     font-weight: 800;
//     margin: 10px 0 0 0;
//     display: flex;
//     justify-content: center;
//     -webkit-text-stroke: 1px rgba(40, 40, 40, 0.5);
//     // -webkit-text-stroke: 1px rgba(40, 40, 40, 0.9);
//     -webkit-text-fill-color: tomato;
// }
// .titleLink:hover {
//     text-decoration: none;
// }

hr {
    border: none;
    border-top: 1px dashed rgba(40, 40, 40, 0.8);
}

table {
    width: 80%;
}

.metaColumn {
    color: royalblue;
}

.metaColumn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.metaId {
    font-size: 24px;
    font-weight: 500;
    color: rgba(40, 40, 40, 0.9);
    text-transform: capitalize;
}

.metaDescription {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: rgba(40, 40, 40, 0.8);
}

.metaComment {
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    color: rgba(40, 40, 40, 0.8);
}
.pageDescription {
    margin: 90px 20px 40px;
}

.paginator {
    margin: 10px 0 50px;
}
.searchTitle {
    font-size: 24px;
    font-weight: 500;
    color: rgba(40, 40, 40, 0.9);
    text-transform: capitalize;
    margin: 10px 20px 40px;
}

.hideMessage {
    font-size: 10px;
    color: rgba(40, 40, 40, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.searchButton {
    width: 75%;
    margin: 0 50px;
}

.flexContainer {
    display: flex;
}

.dropDown {
    margin-top: 10px;
}

.testBackground {
    // background-color: royalblue;
    width: 300px;
    height: 230px;
    border: black 2px solid;
    margin: 2px;
    padding: 4px;
}
.testBackgroundSummaryPlot {
    // background-color: royalblue;
    // width: 600px;
    // height: 400px;
    // border: black 2px solid;
    margin: 2px;
    padding: 4px;
}

.expandObj:hover {
    cursor: pointer;
    opacity: 0.7;
}

.grow {
    -moz-transition: height 5s;
    -ms-transition: height 5s;
    -o-transition: height 5s;
    -webkit-transition: height 5s;
    transition: height 5s;
    height: 0;
    overflow: hidden;
    background-color: red;
}

.plotPreview:hover {
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
