<app-progress-spinner *ngIf="isLoading"></app-progress-spinner>
<div class="row flexContainer">
    <div class="col-md-2 sideBar">
        <div class="row">
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="titleLink">
                <div class="text-center logo">
                    <img class="svg-image" src="/assets/images/seahorse.svg" alt="image">
                    <div class="title-seahorse">SEAHORSE</div>
                </div>
            </a>
        </div>
        <hr>
        <app-autocomplete-input [autoFillData]="autoFillData" (onSearch)="onSearch($event)">
        </app-autocomplete-input>
        <hr>
        <div class="sideBarContainer">
            <ul>
                <div class="pageTitle" (click)="showPhenoList = !showPhenoList">
                    <span class="expandObj">{{showPhenoList ? "-":"+"}}</span> Phenotype
                </div>
                <div *ngIf="showPhenoList">
                    <div *ngFor="let cat of phenotypeArr" class="listRow">
                        <li *ngIf="!excludeListPhenotype.includes(cat.varname)" class="pageList">
                            <a class="page" (click)="changeMetadata(cat.varname)"
                                [ngClass]="{'boldText': cat.varname === metadataId}">{{cat.vardesc[0]}}</a>
                        </li>
                    </div>
                </div>
            </ul>
            <ul>
                <div class="pageTitle" (click)="showLibraryList = !showLibraryList">
                    <span class="expandObj">{{showLibraryList ? "-":"+"}}</span> Library Metadata:
                </div>
                <div *ngIf="showLibraryList">
                    <div *ngFor="let cat of libraryMetadataArr">
                        <li *ngIf="!excludeListLibrary.includes(cat.varname)" class="pageList">
                            <a class="page" (click)="changeMetadata(cat.varname)">{{cat.vardesc[0]}}</a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <div class="col-md-10 content" *ngIf="metadataId">
        <br>
        <br>
        <h1 class="title" *ngIf="layoutType === 'metadata'">
            {{metadataListReady ? this.metadataLookUp[this.metadataId]['vardescFull'] : ""}}
            <!-- ({{metadataListReady ? this.metadataLookUp[this.metadataId]['varname'] : ""}}) -->
        </h1>
        <h1 class="title" *ngIf="layoutType === 'gene'">{{geneToSym[this.metadataId]}}</h1>
        <br>
        <mat-form-field appearance="outline" class="d-flex dropDown">
            <mat-label>Tissue</mat-label>
            <mat-select [(value)]="tissue" (selectionChange)="onTissueChange($event.value)">
                <mat-option [value]="option.name" *ngFor="let option of tissueList">{{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <!-- SUMMARY PLOTS -->
        <div *ngIf="this.metadataLookUp[this.metadataId] !== undefined" class="row justify-content-center">
            <div *ngIf="checkPlotType(metadataId) === 'categoric'" class="testBackgroundSummaryPlot">
                <app-barchart [metadataId]="metadataId" [tissue]="selectedTissue"
                    [meta]="metadataLookUp[metadataId]['meta']"></app-barchart>
            </div>
            <div *ngIf="checkPlotType(metadataId) === 'numeric'" class="testBackgroundSummaryPlot">
                <app-histogram [metadataId]="metadataId" [tissue]="selectedTissue"
                    [comparisonType]="this.metadataId.startsWith('ENSG') ? 'g2m' : 'm2m'"
                    [meta]="metadataLookUp[metadataId]['meta']"></app-histogram>
            </div>
        </div>
        <div *ngIf="metadataId.startsWith('ENSG')" class="row justify-content-center">
            <div class="testBackgroundSummaryPlot">
                <app-histogram [metadataId]="metadataId" [tissue]="selectedTissue" [comparisonType]="'g2g'" [meta]="''">
                </app-histogram>
            </div>
        </div>

        <h4 (click)="expandSection('phenotype')" #myPhenotype class="expansionTitle">
            <span class="expandObj">{{showPhenotype ? "-":"+"}}</span> Phenotype
        </h4>
        <div *ngIf="layoutType === 'metadata'">
            <p *ngIf="this.dataSourceM2M.length === 0 && showPhenotype" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showPhenotype && m2mTableReady && !isLoading && dataSourceM2M.length > 0">
                <!-- <div>M2M</div> -->
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceM2M.length > 0">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div *ngIf="dataSourceM2M[i]">
                            <div *ngIf="checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'numeric'"
                                class="plotPreview">
                                <app-scatterplot [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceM2M[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="typeOfLookUp"
                                    [tissue]="selectedTissue"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'categoric'"
                                class="plotPreview">
                                <app-heatmap [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceM2M[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [tissue]="selectedTissue"
                                    (svg2Loaded)="onSelectImage($event, 'heatmap', metadataId, dataSourceM2M[i]['category_b'], 'm2m', selectedTissue)">
                                </app-heatmap>
                            </div>
                            <div *ngIf="(checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'categoric')"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="dataSourceM2M[i]['category_b']"
                                    [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp"
                                    [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2M[i]['category_b'], 'm2m', selectedTissue)">
                                </app-boxplot>
                            </div>
                            <div *ngIf="(checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'numeric')"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="metadataId"
                                    [metadataNumId]="dataSourceM2M[i]['category_b']" [metadataLookUp]="metadataLookUp"
                                    [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2M[i]['category_b'], 'm2m', selectedTissue)">
                                </app-boxplot>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div *ngIf="dataSourceM2M[i]">
                            <div *ngIf="checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'numeric'"
                                class="plotPreview">
                                <app-scatterplot [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceM2M[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="typeOfLookUp"
                                    [tissue]="selectedTissue"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'categoric'"
                                class="plotPreview">
                                <app-heatmap [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceM2M[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [tissue]="selectedTissue"
                                    (svg2Loaded)="onSelectImage($event, 'heatmap', metadataId, dataSourceM2M[i]['category_b'], 'm2m', selectedTissue)">
                                </app-heatmap>
                            </div>
                            <div *ngIf="(checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'categoric')"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="dataSourceM2M[i]['category_b']"
                                    [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp"
                                    [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2M[i]['category_b'], 'm2m', selectedTissue)">
                                </app-boxplot>
                            </div>
                            <div *ngIf="(checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2M[i]['category_b']) === 'numeric')"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="metadataId"
                                    [metadataNumId]="dataSourceM2M[i]['category_b']" [metadataLookUp]="metadataLookUp"
                                    [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2M[i]['category_b'], 'm2m', selectedTissue)">
                                </app-boxplot>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <app-table comparisonType="m2m" [metadataId]="metadataId" [dataSource]="dataSourceM2M"
                    [metadataListReady]="metadataListReady" [metadataLookUp]="metadataLookUp"
                    [displayedColumns]="displayedColumnsM2M" [tableSize]="tableSizeM2M" [limit]="limit"
                    [currPage]="currPage" (childGetPageDetails)="getPageDetails($event[0], $event[1])"
                    (childOnSelectMetadataLink)="onSelectMetadataLink($event[0], $event[1], $event[2])"
                    (childDownloadTable)="downloadTable($event[0], $event[1])">
                </app-table>
            </div>
        </div>
        <div *ngIf="layoutType === 'gene'">
            <p *ngIf="this.dataSourceG2M.length === 0 && showPhenotype" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showPhenotype && g2mTableReady && !isLoading && dataSourceG2M.length > 0">
                <!-- <div>g2m</div> -->
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceG2M.length > 0">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div *ngIf="this.dataSourceG2M[i]">
                            <div *ngIf="checkPlotType(dataSourceG2M[i]['category_b']) === 'numeric'"
                                class="plotPreview">
                                <app-scatterplot [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceG2M[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="checkPlotType(dataSourceG2M[i]['category_b']) === 'categoric'"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="metadataId"
                                    [metadataNumId]="dataSourceG2M[i]['category_b']" [metadataLookUp]="metadataLookUp"
                                    [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceG2M[i]['category_b'], 'm2g', selectedTissue)">
                                </app-boxplot>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" *ngIf="metadataLookUp">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div *ngIf="this.dataSourceG2M[i]">
                            <div *ngIf="dataSourceG2M[i] && checkPlotType(dataSourceG2M[i]['category_b']) === 'numeric'"
                                class="plotPreview">
                                <app-scatterplot [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceG2M[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="dataSourceG2M[i] && checkPlotType(dataSourceG2M[i]['category_b']) === 'categoric'"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="metadataId"
                                    [metadataNumId]="dataSourceG2M[i]['category_b']" [metadataLookUp]="metadataLookUp"
                                    [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceG2M[i]['category_b'], 'm2g', selectedTissue)">
                                </app-boxplot>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <app-table comparisonType="g2m" [metadataId]="metadataId" [dataSource]="dataSourceG2M"
                    [metadataListReady]="metadataListReady" [metadataLookUp]="metadataLookUp"
                    [displayedColumns]="displayedColumnsG2M" [tableSize]="tableSizeG2M" [limit]="limit"
                    [currPage]="currPage" (childGetPageDetails)="getPageDetails($event[0], $event[1])"
                    (childOnSelectMetadataLink)="onSelectMetadataLink($event[0], $event[1], $event[2])"
                    (childDownloadTable)="downloadTable($event[0], $event[1])">
                </app-table>
            </div>
        </div>
        <br>
        <h4 (click)="expandSection('library')" #myLibrary class="expansionTitle">
            <span class="expandObj">{{showLibraryMetadata ? "-":"+"}}</span> Library Metadata
        </h4>
        <br>
        <div *ngIf="layoutType === 'metadata'">
            <p *ngIf="this.dataSourceM2MLibrary.length === 0 && showLibraryMetadata" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showLibraryMetadata && m2mLibraryTableReady && !isLoading && dataSourceM2MLibrary.length > 0">
                <!-- <div>library m2m</div> -->
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceM2MLibrary.length > 0">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div *ngIf="this.dataSourceM2MLibrary[i]">
                            <div *ngIf="checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'numeric'"
                                class="plotPreview">
                                <app-scatterplot [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceM2MLibrary[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="typeOfLookUp"
                                    [tissue]="selectedTissue"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'categoric'"
                                class="plotPreview">
                                <app-heatmap [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceM2MLibrary[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [tissue]="selectedTissue"
                                    (svg2Loaded)="onSelectImage($event, 'heatmap', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m', selectedTissue)">
                                </app-heatmap>
                            </div>
                            <div *ngIf="(checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'categoric')"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="dataSourceM2MLibrary[i]['category_b']"
                                    [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp"
                                    [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m', selectedTissue)">
                                </app-boxplot>
                            </div>
                            <div *ngIf="(checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'numeric')"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="metadataId"
                                    [metadataNumId]="dataSourceM2MLibrary[i]['category_b']"
                                    [metadataLookUp]="metadataLookUp" [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m', selectedTissue)">
                                </app-boxplot>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div *ngIf="this.dataSourceM2MLibrary[i]">
                            <div *ngIf="checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'numeric'"
                                class="plotPreview">
                                <app-scatterplot [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceM2MLibrary[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="typeOfLookUp"
                                    [tissue]="selectedTissue"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'categoric'"
                                class="plotPreview">
                                <app-heatmap [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceM2MLibrary[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [tissue]="selectedTissue"
                                    (svg2Loaded)="onSelectImage($event, 'heatmap', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m', selectedTissue)">
                                </app-heatmap>
                            </div>
                            <div *ngIf="(checkPlotType(metadataId) === 'numeric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'categoric')"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="dataSourceM2MLibrary[i]['category_b']"
                                    [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp"
                                    [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m', selectedTissue)">
                                </app-boxplot>
                            </div>
                            <div *ngIf="(checkPlotType(metadataId) === 'categoric' && checkPlotType(dataSourceM2MLibrary[i]['category_b']) === 'numeric')"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="metadataId"
                                    [metadataNumId]="dataSourceM2MLibrary[i]['category_b']"
                                    [metadataLookUp]="metadataLookUp" [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2MLibrary[i]['category_b'], 'm2m', selectedTissue)">
                                </app-boxplot>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <app-table comparisonType="m2mLibrary" [metadataId]="metadataId" [dataSource]="dataSourceM2MLibrary"
                    [metadataListReady]="metadataListReady" [metadataLookUp]="metadataLookUp"
                    [displayedColumns]="displayedColumnsM2M" [tableSize]="tableSizeM2MLibrary" [limit]="limit"
                    [currPage]="currPage" (childGetPageDetails)="getPageDetails($event[0], $event[1])"
                    (childOnSelectMetadataLink)="onSelectMetadataLink($event[0], $event[1], $event[2])"
                    (childDownloadTable)="downloadTable($event[0], $event[1])">
                </app-table>
            </div>
        </div>
        <div *ngIf="layoutType === 'gene'">
            <p *ngIf="this.dataSourceG2MLibrary.length === 0 && showLibraryMetadata" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showLibraryMetadata && g2mLibraryTableReady && !isLoading && dataSourceG2MLibrary.length > 0">
                <!-- <div>library g2m</div> -->
                <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceG2MLibrary.length > 0">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div *ngIf="this.dataSourceG2MLibrary[i]">
                            <div *ngIf="checkPlotType(dataSourceG2MLibrary[i]['category_b']) === 'numeric'"
                                class="plotPreview">
                                <app-scatterplot [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceG2MLibrary[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="checkPlotType(dataSourceG2MLibrary[i]['category_b']) === 'categoric'"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="dataSourceG2MLibrary[i]['category_b']"
                                    [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp"
                                    [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceG2MLibrary[i]['category_b'], 'm2g', selectedTissue)">
                                </app-boxplot>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div *ngIf="this.dataSourceG2MLibrary[i]">
                            <div *ngIf="checkPlotType(dataSourceG2MLibrary[i]['category_b']) === 'numeric'"
                                class="plotPreview">
                                <app-scatterplot [metadataId]="metadataId"
                                    [metadata2Id]='this.dataSourceG2MLibrary[i]["category_b"]'
                                    [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                    (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                </app-scatterplot>
                            </div>
                            <div *ngIf="checkPlotType(dataSourceG2MLibrary[i]['category_b']) === 'categoric'"
                                class="plotPreview">
                                <app-boxplot [metadataCatId]="dataSourceG2MLibrary[i]['category_b']"
                                    [metadataNumId]="metadataId" [metadataLookUp]="metadataLookUp"
                                    [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                    (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceG2MLibrary[i]['category_b'], 'm2g', selectedTissue)">
                                </app-boxplot>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <app-table comparisonType="g2mLibrary" [metadataId]="metadataId" [dataSource]="dataSourceG2MLibrary"
                    [metadataListReady]="metadataListReady" [metadataLookUp]="metadataLookUp"
                    [displayedColumns]="displayedColumnsG2M" [tableSize]="tableSizeG2MLibrary" [limit]="limit"
                    [currPage]="currPage" (childGetPageDetails)="getPageDetails($event[0], $event[1])"
                    (childOnSelectMetadataLink)="onSelectMetadataLink($event[0], $event[1], $event[2])"
                    (childDownloadTable)="downloadTable($event[0], $event[1])">
                </app-table>
            </div>
        </div>
        <h4 (click)="expandSection('gene')" #myGene class="expansionTitle">
            <span class="expandObj">{{showGene ? "-":"+"}}</span> Gene
        </h4>
        <br>
        <div *ngIf="layoutType === 'metadata'">
            <p *ngIf="this.dataSourceM2G.length === 0 && showGene" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showGene && m2gTableReady && !isLoading && dataSourceM2G.length > 0">
                <div *ngIf="showGene">
                    <!-- <div>M2G</div> -->
                    <div class="row justify-content-center" *ngIf="metadataLookUp && dataSourceM2G.length > 0">
                        <div class="testBackground" *ngFor="let i of [0,1,2]">
                            <div *ngIf="this.dataSourceM2G[i]">
                                <div *ngIf="checkPlotType(metadataId) === 'numeric'" class="plotPreview">
                                    <app-scatterplot [metadata2Id]="metadataId"
                                        [metadataId]='this.dataSourceM2G[i]["gene"]' [metadataLookUp]="metadataLookUp"
                                        [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                        (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                    </app-scatterplot>
                                </div>
                                <div *ngIf="checkPlotType(metadataId) === 'categoric'" class="plotPreview">
                                    <app-boxplot [metadataNumId]="dataSourceM2G[i]['gene']" [metadataCatId]="metadataId"
                                        [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                        [tissue]="selectedTissue"
                                        (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2G[i]['gene'], 'm2g', selectedTissue)">
                                    </app-boxplot>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="metadataLookUp">
                        <div class="testBackground" *ngFor="let i of [3,4,5]">
                            <div *ngIf="this.dataSourceM2G[i]">
                                <div *ngIf="checkPlotType(metadataId) === 'numeric'" class="plotPreview">
                                    <app-scatterplot [metadata2Id]="metadataId"
                                        [metadataId]='this.dataSourceM2G[i]["gene"]' [metadataLookUp]="metadataLookUp"
                                        [typeOfLookUp]="'m2g'" [tissue]="selectedTissue"
                                        (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                                    </app-scatterplot>
                                </div>
                                <div *ngIf="checkPlotType(metadataId) === 'categoric'" class="plotPreview">
                                    <app-boxplot [metadataNumId]="dataSourceM2G[i]['gene']" [metadataCatId]="metadataId"
                                        [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'m2g'"
                                        [tissue]="selectedTissue"
                                        (svgLoaded)="onSelectImage($event, 'boxplot', metadataId, dataSourceM2G[i]['gene'], 'm2g', selectedTissue)">
                                    </app-boxplot>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <p *ngIf="this.dataSourceM2G.length === 0 && this.searchValue !== '' && this.selectedTissue !== ''"
                        class="hideMessage text-center">
                        There is no data to be displayed.</p> -->
                    <br>
                    <app-table comparisonType="m2g" [metadataId]="metadataId" [dataSource]="dataSourceM2G"
                        [metadataListReady]="metadataListReady" [metadataLookUp]="metadataLookUp"
                        [displayedColumns]="displayedColumnsM2G" [tableSize]="tableSizeM2G" [limit]="limit"
                        [currPage]="currPage" (childGetPageDetails)="getPageDetails($event[0], $event[1])"
                        (childOnSelectMetadataLink)="onSelectMetadataLink($event[0], $event[1], $event[2])"
                        (childDownloadTable)="downloadTable($event[0], $event[1])" [geneToSym]="geneToSym">
                    </app-table>
                </div>
            </div>
        </div>
        <div *ngIf="layoutType === 'gene'">
            <p *ngIf="this.dataSourceG2G.length === 0 && showGene" class="hideMessage text-center">
                There is no data to be displayed.</p>
            <div *ngIf="showGene && !isLoading && dataSourceG2G.length > 0">

                <div class=" row justify-content-center">
                    <div *ngIf="checkPlotType(metadataId) === 'categoric'" class="testBackgroundSummaryPlot">
                        <app-barchart [metadataId]="metadataId" [tissue]="selectedTissue"></app-barchart>
                    </div>
                </div>

                <div class="row justify-content-center"
                    *ngIf="metadataLookUp && dataSourceG2G.length > 0 && g2gTableReady">
                    <div class="testBackground" *ngFor="let i of [0,1,2]">
                        <div *ngIf="dataSourceG2G[i]">
                            <app-scatterplot [metadataId]="metadataId" [metadata2Id]='this.dataSourceG2G[i]["gene"]'
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'g2g'" [tissue]="selectedTissue"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center"
                    *ngIf="metadataLookUp && dataSourceG2G.length > 0 && g2gTableReady">
                    <div class="testBackground" *ngFor="let i of [3,4,5]">
                        <div *ngIf="dataSourceG2G[i]">
                            <app-scatterplot [metadataId]="metadataId" [metadata2Id]='this.dataSourceG2G[i]["gene"]'
                                [metadataLookUp]="metadataLookUp" [typeOfLookUp]="'g2g'" [tissue]="selectedTissue"
                                (selectedImageBase64)="onSelectScatterplotImage($event, 'scatterplot')">
                            </app-scatterplot>
                        </div>
                    </div>
                </div>
                <br>
                <app-table comparisonType="g2g" [metadataId]="metadataId" [dataSource]="dataSourceG2G"
                    [metadataListReady]="metadataListReady" [metadataLookUp]="metadataLookUp"
                    [displayedColumns]="displayedColumnsG2G" [tableSize]="tableSizeG2G" [limit]="limit"
                    [currPage]="currPage" (childGetPageDetails)="getPageDetails($event[0], $event[1])"
                    (childOnSelectMetadataLink)="onSelectMetadataLink($event[0], $event[1], $event[2])"
                    (childDownloadTable)="downloadTable($event[0], $event[1])">
                </app-table>
            </div>
        </div>

        <div *ngIf="layoutType === 'metadata'">
            <h4 (click)="expandSection('rugplot')" #myRugplot class="expansionTitle">
                <span class="expandObj">{{showRugplot ? "-":"+"}}</span> Pathways
            </h4>
            <br>
            <div class="d-flex justify-content-center">
                <button class="download-button" mat-stroked-button (click)="downloadTable('pathways', 'phenotype')"><i
                        class="material-icons">cloud_download</i> Download Table</button>
            </div>
            <br>
            <div class="loading-container" *ngIf="isLoadingPathways">
                <mat-spinner diameter="30"></mat-spinner>
            </div>
            <div *ngIf="showRugplot && pathwaysTableReady && !isLoading && dataSourcePathways.length > 0">
                <p *ngIf="this.dataSourcePathways.length === 0 && showRugplot" class="hideMessage text-center">
                    There is no data to be displayed.</p>
                <div class="d-flex justify-content-center" *ngIf="pathwaysTableReady && dataSourcePathways.length > 0">
                    <table mat-table [dataSource]='dataSourcePathways' class="mat-elevation-z8">
                        <ng-container matColumnDef="pathway">
                            <th mat-header-cell *matHeaderCellDef> Pathway </th>
                            <td mat-cell *matCellDef="let element">
                                <a target="_blank"
                                    href="{{'https://www.gsea-msigdb.org/gsea/msigdb/cards/' + element.pathway}}">{{element.pathway}}</a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="rugplot">
                            <th mat-header-cell *matHeaderCellDef> Rugplot </th>
                            <td mat-cell *matCellDef="let element">
                                <app-rugplot [plotData]="element.rugplot"></app-rugplot>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="pvalue">
                            <th mat-header-cell *matHeaderCellDef> P Value </th>
                            <td mat-cell *matCellDef="let element"> {{(element.pvalue >= 10000 || element.pvalue <
                                    0.001) ? element.pvalue.toExponential(3) : element.pvalue.toFixed(5)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="top_tissues">
                            <th mat-header-cell *matHeaderCellDef> Other Significant Tissues </th>
                            <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent"
                                    (click)="openPathwaysDialog(this.metadataId, element.pathway)">Tissues</button> </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPathways"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPathways"></tr>
                    </table>
                </div>
                <div class="d-flex justify-content-center paginator" *ngIf="tableSizePathways > 0">
                    <mat-paginator [length]="tableSizePathways" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
                        [pageIndex]="currPagePathways" aria-label="Select page" (page)="getPageDetails($event, 'pathways')">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>